<p>Lista general de usuarios</p>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Users</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo idetificacion</th>
                        <th>Numero idetificacion</th>
                        <th>Rol</th>
                        <th>E-mail</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Usuario of usuarios" class="text-center">
                        <td>{{Usuario.idusuarios}}</td>
                        <td>{{Usuario.nombre}}</td>
                        <td>{{Usuario.apellido}}</td>
                        <td>{{Usuario.tipoidentificacion}}</td>
                        <td>{{Usuario.numeroidentificacion}}</td>
                        <td>{{Usuario.rol}}</td>
                        <td>{{Usuario.email}}</td>
                        <td>{{Usuario.telefono}}</td>
                        <td>
                            <button (click)="Editar(Usuario)" class="btn btn-warning">EditarUsuario</button>
                            <button (click)="Delete(Usuario)" class="btn btn-danger">BorrarUsuaio</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>