<h2>Solcicitudes</h2>
<div style="display: flex;">
  <label style="margin-left: 10px;margin-top: 30px;">Id de solicitud</label>
  <input type="text" formControlName="username" class="form-control" style="margin: 30px;width: 50%;" 
  name="id" [(ngModel)]="idbuscar">
  <button (click)="getBuscar() " class="btn btn-primary" style="margin: 30px;">buscar</button>
</div>
<table class="table table-bordered table-primary">
  <tr>
    <th>ID</th>
    <th>Fecha de solicitud</th>
    <th>Docente</th>
    <th>Fecha Programada</th>
    <th>Hora inicio</th>
    <th>Hora Final</th>
    <th>ID Laboratorio</th>
    <th>Estado</th>
    <th>Respusta</th>
  </tr>
  <ng-container *ngFor="let solicitud of solicitudes">
    <tr>
      <td>{{solicitud.idSolicitud}}</td>
      <td>{{solicitud.fecha_solicitud}}</td>
      <td>{{solicitud.docente}}</td>
      <td>{{solicitud.fecha_programada}}</td>
      <td>{{solicitud.hora_entrada}}</td>
      <td>{{solicitud.hora_salida}}</td>
      <td>{{solicitud.laboratorio}}</td>
      <td>{{solicitud.estado_solicitud}}</td>
      <td><button class="btn btn-success" (click)="aprobar(solicitud)">Aprobar</button>
        <button class="btn btn-danger" (click)="rechazar(solicitud)">Rechazar</button></td>
    </tr>
  </ng-container>
</table>