<app-header>
</app-header>
<div style="text-align:center">
    <h1>
        Listas Generales Proyecto Angular
    </h1>
</div>

<div class="content">
    <button (click)="ListarUsuarios()" class="btn btn-info" style="margin-left: 10px;">Lista Usuarios</button>
    <button (click)="ListarFacultades()" class="btn btn-info" style="margin-left: 10px;">Lista Facultades</button>
    <button (click)="ListarBloques()" class="btn btn-info" style="margin-left: 10px;">Lista Bloques</button>
    <button (click)="ListarLaboratorios()" class="btn btn-info" style="margin-left: 10px;">Lista Laboratorios</button>
    <button (click)="Solicitar()" class="btn btn-info" style="margin-left: 10px;">Solicitar Sala</button>
    <button (click)="Miguel()" class="btn btn-info" style="margin-left: 10px;">LO DE MIGUEL</button>
</div>
<div class='container main container' >
    <router-outlet></router-outlet>

</div>

<app-footer></app-footer>