<div style="padding: 15px;"></div>
<h4>Lista General de Facultades<img src="../assets/admin.png"></h4>
<div style="padding: 15px;"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Facultades</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Director</th>
                        <th>Telefono</th>
                        <th>Fundacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let facultad of facultades" class="text-center">
                        <td>{{facultad.id}}</td>
                        <td>{{facultad.nombre}}</td>
                        <td>{{facultad.director}}</td>
                        <td>{{facultad.telefono}}</td>
                        <td>{{facultad.fundacion}}</td>
                        <td>
                            <button (click)="Editar(facultad)" class="btn btn-warning"><img src="../assets/edit.png">EditarFacultad</button>
                            <button (click)="Delete(facultad)" class="btn btn-danger"><img src="../assets/delete.png">BorrarFacultad</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)="VistaInsertF()" class="btn btn-primary"><img src="../assets/new.png">Nueva Facultad</button>
        </div>
    </div>
</div>