<div class="jumbotron">
    <div class="cabeza">
        <h1 class="display-4">Hello, world!</h1>
        <div class="d-flex flex-wrap mt-20" style="justify-content: space-around; margin-top: 2em">

            <div class="container">
                <button class=" btn btn-inf" routerLink="/login">login</button>
                <button class=" btn btn-inf" routerLink="/login">Acceso</button>
                <button (click)="Acceder()" class="btn btn-info" style="margin-left: 10px;">Acceso Directo</button>
            </div>
        </div>