<p>Insertar</p>

<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Insertar Usuarios</h3>
        </div>
        <div class="card-body ">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres:</label>
                    <input [(ngModel)]="Usuario.nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellidos:</label>
                    <input [(ngModel)]="Usuario.Apellido" name="Apellido" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Tipo idetificacion:</label>
                    <select [(ngModel)]="Usuario.tipoidentificacion" name="tipoidentificacion" class="form-control">
                        <option value="CC">Cedula de ciudadania</option>
                        <option value="TI">Tarjeta de identidad</option>
                        <option value="TP">Tarjeta Pasaporte</option>
                        <option value="RC">Registro civil</option>
                        <option value="CE">Cedula de extranjeria</option>
                        <option value="CI">Carne de identidad</option>
                        <option value="DNI">Documento nacional de identidad</option>
                        <option value="DUI">Documento unico de identidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">numero idetificacion:</label>
                    <input [(ngModel)]="Usuario.numeroidentificacion" name="numeroidentificacion" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">rol:</label>
                    <select [(ngModel)]="Usuario.rol" name="rol"  class="form-control">
                        <option value="ADMIN">Administrador</option>
                        <option value="DOCEN">Docente</option>
                        <option value="ALU">Alumno</option>
                        <option value="AUX">Auxiliar Laboratorio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">E-mail:</label>
                    <input [(ngModel)]="Usuario.email" name="email" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input [(ngModel)]="persona.telefono" name="telefono" type="text" class="form-control">
                </div>
                <button (click)="Guardar()" class="btn btn-danger"><img src="../assets/save.png">Guardar</button>
            </form>
        </div>
    </div>
</div>